<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Bin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/client.js" defer></script>
</head>

<body>
    <div class="content container">
        <div class="columns is-multiline">
            <div class="header columns is-12 column is-vcentered">
                <div class="column">
                    <div class="field columns is-horizontal is-vcentered">
                        <div class="control column is-2">
                            <button class="button" id="new-bin">New Bin</button>
                        </div>
                        <div class="control column">
                            <label class="subtitle">Request Bin</label>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="text" class="input" readonly id="request-url">
                        </div>
                        <div class="control">
                            <button class="button" id="copy-url">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-list column is-3">

            </div>
            <div class="request-details column">
                <div>Bin stays until <span id="bin-delete-at"></span></div>
                <div id="base-data" class="subtitle"></div>
                <table class="table">
                    <tbody id="headers"></tbody>
                </table>
                <pre id="body" class="is-family-monospace"></pre>
            </div>
        </div>
    </div>
</body>

</html>