<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Bin</title>
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/client.js" defer></script>
</head>

<body>
    <div class="content container">
        <div class="columns is-multiline">
            <header class="header is-full column mt-4">
                <div class="columns is-vcentered">
                    <div class="column">
                        <label class="subtitle">Request Bin</label>
                    </div>

                    <div class="column is-half">
                        <div class="field has-addons">
                            <label class="control">
                                <a id="req-bin-status" class="button is-light is-success">
                                    Open
                                </a>
                            </label>
                            <div class="control is-expanded">
                                <input type="text" class="input" readonly id="request-url">
                            </div>
                            <div class="control">
                                <button class="button c-is-primary" id="copy-url">Copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="request-list column is-one-third">
                <div class="panel">
                    <div class="panel-heading c-is-accent">
                        Incoming Requests
                    </div>
                    <div class="panel-block is-flex is-justify-content-center">
                        <div class="field has-addons">
                            <div class="control">
                                <button class="button is-outlined c-is-primary" id="new-bin">New Bin</button>
                            </div>
                            <div class="control">
                                <button class="button is-outlined c-is-primary" id="clear-bin">Clear</button>
                            </div>
                            <div class="control">
                                <button class="button is-outlined c-is-primary" id="refresh-bin">Refresh</button>
                            </div>
                        </div>
                    </div>
                    <div id="request-list" class="panel-block is-wrapped"></div>
                </div>
            </div>
            <div class="request-details column">
                <div>This Request Bin will be available until <span id="bin-delete-at"></span></div>
                <div id="base-data" class="subtitle"></div>
                <table class="table">
                    <tbody id="headers"></tbody>
                </table>
                <pre id="body" class="is-family-monospace"></pre>
            </div>
            <footer class="footer column is-12 has-text-centered c-is-secondary">
                <p>
                    <strong>Request Bin</strong> by <a href="https://github.com/mamphis" class="c-is-text-accent"
                        target="_blank">mamphis</a>.
                </p>
                <div class="field has-addons is-justify-content-end">
                    <div class="control"><button id="theme-toggle-dark"
                            class="button is-outlined">Dark</button></div>
                    <div class="control"><button id="theme-toggle-light"
                            class="button is-outlined">Light</button></div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>